*{
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100Vh;
    margin: 10px;
}

img{
    width: 100%;
    height: 350px;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; // Space between images
                    // Prostor izmedju slika
    .galery{
        cursor: pointer;
        transition: transform .5s;
        &:hover{
            transform: translateY(-10px);
        }
        
        .title{
            padding: 10px;
        }
    }
}

